<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Form</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include("../navbar") %>
    <%- include("adminForm") %>
    <%- include("../footer") %>
    <script src="/js/messages.js"></script>
</body>

</html>

