<footer class="mt-12 flex flex-col items-center py-8 text-sm text-slate-500">
  <p class="font-medium text-slate-600">
    Mini Message Board | <a href="https://github.com/BryanF1nes">BryanF1nes</a>
  </p>
</footer>
