<%- include("partials/errors.ejs") %>
<form method="POST" action="/messages/create">
  <div>
    <label for="message">Message</label>
    <textarea
      id="message"
      name="message"
      rows="5"
      placeholder="What's on your mind?"
      required
    ></textarea>
  </div>

  <button type="submit">Post Message</button>
</form>
