<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar', { links: links }); %>
        <div class="container">
            <div class="card">
                <h3>Welcome to the Mini Message Board</h3>
                <p>This is a Express App build with the following tech stack:</p>
                <ul>
                    <li>Express.js - Backend</li>
                    <li>EJS - Templating language</li>
                    <li>CSS - Styling</li>
                    <li>Express Validator - Sanitization of Form elements</li>
                </ul>
                <br>
                <p>This a project for The Odin Projects Node course. The intention of this project is to gain familiarity with Express, and using the MVC pattern, Express validation for sanitization of form data. I have an on-going todo list of items I would like to add to this project to make it a worthy portfolio project.</p>
            </div>

            <div class="card mt-4">
                <h3>Todo List:</h3>
                <ul>
                    <li>Migrate CSS to tailwind</li>
                    <li>Add authorizaton</li>
                    <li>Upgrade to a SQL lite or Postgres Database</li>
                    <li>Allow for user personilization i.e - Profile pictures, user about me, etc.</li>
                    <li>Allow for searching, filtering, etc of messages</li>
                </ul>
            </div>
        </div>
        <%- include('footer'); %>
    </body>
</html>
