<nav class="nav">
  <ul>
    <div>
        <h4 style="margin-bottom: 0; padding-right: 24px">Mini Message Board</h4>
        <% for (let i = 0; i < links.length; i++) { %>
          <li>
            <a href="<%= links[i].href %>">
              <span> <%= links[i].text %> </span>
            </a>
          </li>
        <% } %>
    </div>
    <%- include('search') %>
  </ul>

</nav>
