<%- include("partials/errors.ejs") %>
<form method="GET" action="/messages/search">
  <div class="search">
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Search by name"
    >
    <button type="submit">Search</button>
  </div>
</form>
