<div class="card mt-4">
    <h4 class="message-date" data-date="<%= changelog.date_added.toISOString() %>">Loading...</h4>
    <div>
        <p><b>Changelog Description:</b> <%= changelog.description %></p>
    </div>
    <ul>
        <b>Changelog items:</b>
        <% changelog.items.forEach((change) => { %>
            <li>✅ <%= change %></li>
        <% }); %>
    </ul>
</div>
<script src="/js/messages.js"></script>
